/* google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');


.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
}




.featurd-items {
    background-image: url('../src/assets/home/featured.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.featurd-items-shadow {
    background-color: rgba(0, 0, 0, 0.5);
}

.poster {
    background-image: url('../src/assets/home/chef-service.jpg');
}




/* pagination  */


.mySwiper .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    text-align: center;
    /* line-height: 20px; */
    font-weight: 400;
    font-size: 18px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.mySwiper .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}




/* navbar & navlink  */

