.featurd-items {
    background-image: url('../src/assets/home/featured.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.featurd-items-shadow {
    background-color: rgba(0, 0, 0, 0.5);
}

.poster {
    background-image: url('../src/assets/home/chef-service.jpg');
}


/* text-[#111111a6] */